.flex-space-between {
    display:flex;
    justify-content: space-between;
}

.flex {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.app-version {
    font-size: 0.75rem;
    opacity: 0.7;
}