<button tuiButton
    tuiChevron
    tuiDropdownOpen
    type="button" 
    [tuiDropdown]="content"> 
        {{(selectedBudget$ | async)?.name ?? "Выбери бюджет из списка..."}} 
</button>

<button tuiButton
    type="button"
    class="download-button"
    [disabled]="!(selectedBudget$ | async)"
    (click)="downloadBudget()">
    ⬇️
</button>

<button tuiButton
    type="button"
    class="upload-button">
    <label for="file-upload" style="cursor: pointer; margin: 0;">
        ⬆️
    </label>
    <input
        id="file-upload"
        type="file"
        accept=".yaml,.yml"
        style="display: none;"
        (change)="onFileSelected($event)">
</button>

<ng-template #content>
    <tui-data-list role="menu" [emptyContent]="">
        <tui-opt-group>
            <a tuiOption *ngFor="let budget of budgetsSnapshot" [routerLink]="['/budget/', budget.id]" role="menuitem">
                {{budget.name}}
            </a>
        </tui-opt-group>
        <tui-opt-group>
            <a tuiOption [routerLink]="['/budget/new']" role="menuitem">
                Добавить новый бюджет
            </a>
        </tui-opt-group>
    </tui-data-list>
</ng-template>
