<button tuiButton
    tuiChevron
    tuiDropdownOpen
    type="button" 
    [tuiDropdown]="content"> 
        {{(selectedBudget$ | async)?.name ?? "Выбери бюджет из списка..."}} 
</button>

<ng-template #content>
    <tui-data-list role="menu">
        <tui-opt-group>
            <a tuiLink *ngFor="let budget of budgetsSnapshot" [routerLink]="['/budget/', budget.id]" role="menuitem">
                {{budget.name}}
            </a>
        </tui-opt-group>
        <tui-opt-group>
            <a tuiLink [routerLink]="['/budget/new']" role="menuitem">
                Добавить новый бюджет
            </a>
        </tui-opt-group>
    </tui-data-list>
</ng-template>
