<tui-root>
    <header tuiNavigationHeader [class]="'flex-space-between'">
        <span [class]="'flex'">
            <span tuiNavigationLogo> <a routerLink="/" tuiLink>The Budget.</a></span>
            <span [class]="'flex'"><a tuiLink routerLink="/budget/new"> + </a></span>
        </span>
        <span>
            <span *ngIf="isAuthenticated$ | async">
                <span>{{ownerName$ | async}}</span>
            </span>
            <app-auth></app-auth>
        </span>
    </header>
    <main tuiNavigationMain>
        <router-outlet />
    </main>
</tui-root>